<!DOCTYPE html>
<html lang="en">

	<head>
		<link rel="stylesheet" href="/css/modern-normalize.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/css/calendar.css">
		<title>Booking App</title>
	</head>

	<body>
		<div class="container--main">
			<div class="sidebar">
				<% if (!user) { %>
				<div class="app__nav">
					<a class="app__nav--link <%= page === 'login' ? 'app__nav--active' : '' %>" href="/login">Log In</a>
					<a class="app__nav--link <%= page === 'register' ? 'app__nav--active' : '' %>" href="/register">Sign up</a>
				</div>
				<% } else { %>
				<div class="user__nav">
					<a href="/users/<%= user.id %>">
						<h1 class="user__initial"><%= user.username.substring(0, 1).toUpperCase() %></h1>
						<div class="user__info">
							<p><%= user.username %></p>
						</div>
					</a>
				</div>
				<nav>
					<div class="app__nav nav--section">
						<a href="/rooms" class="app__nav--link <%= page === 'rooms' ? 'app__nav--active' : '' %>">
							Rooms
							<% if (page === "rooms") { %>
							<i class="fas fa-caret-left"></i>
							<% } %>
						</a>
						<a href="/bookings" class="app__nav--link <%= page === 'bookings' ? 'app__nav--active' : '' %>">
							Bookings
							<% if (page === "bookings") { %>
							<i class="fas fa-caret-left"></i>
							<% } %>
						</a>
					</div>
					<div class="settings__nav nav--section">
						<a href="/logout" class="app__nav--link">Logout</a>
					</div>
				</nav>
				<% } %>
			</div>
			<div class="container--body">
			<% if (error && error.length > 0) { %>
				<div class="alert allert--error">
					<%= error %>
				</div>
			<% } %>
			<% if (success && success.length > 0) { %>
				<div class="alert alert--success">
					<%= success %>
				</div>
			<% } %>