<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="/css/modern-normalize.css">
		<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,600" rel="stylesheet">
		<link rel="stylesheet" href="/css/animate.css">
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/css/calendar.css">
		<title>Vivlio</title>
		<script src="/js/main.js" async defer></script>
	</head>

	<body style="display:none" onload="document.body.removeAttribute('style');">
		<div class="container--main">
			<div class="sidebar__icon">
				<i class="fas fa-chevron-circle-right sidebar__toggle"></i>
			</div>
			<div class="sidebar">
				<% if (!user) { %>
				<div class="app__nav sidebar--content">
					<a class="app__nav--link <%= typeof page !== 'undefined' && page === 'login' ? 'app__nav--active' : '' %>" href="/login">
						Sign In
						<% if (typeof page !== 'undefined' && page === "login") { %>
							<i class="fas fa-caret-left"></i>
						<% } %>
					</a>
					<a class="app__nav--link <%= typeof page !== 'undefined' && page === 'register' ? 'app__nav--active' : '' %>" href="/register">
						Sign up
						<% if (typeof page !== 'undefined' && page === "register") { %>
							<i class="fas fa-caret-left"></i>
						<% } %>
					</a>
				</div>
				<% } else { %>
				<div class="sidebar--content user__nav <%= typeof page !== 'undefined' && page === 'user' ? 'app__nav--active' : '' %>">
					<a href="/users/<%= user.id %>">
						<h1 class="user__initial"><%= user.username.substring(0, 1).toUpperCase() %></h1>
						<div class="user__info">
							<p><%= user.username %></p>
						</div>
					</a>
				</div>
				<nav class="sidebar--content">
					<div class="app__nav nav--section">
						<a href="/rooms" class="app__nav--link <%= typeof page !== 'undefined' && page === 'rooms' ? 'app__nav--active' : '' %>">
							<span>Rooms</span>
							<% if (typeof page !== 'undefined' && page === "rooms") { %>
							<i class="fas fa-caret-left"></i>
							<% } %>
						</a>
						<a href="/bookings" class="app__nav--link <%= typeof page !== 'undefined' && page === 'bookings' ? 'app__nav--active' : '' %>">
							<span>Bookings</span>
							<% if (typeof page !== 'undefined' && page === "bookings") { %>
							<i class="fas fa-caret-left"></i>
							<% } %>
						</a>
					</div>
					<div class="settings__nav nav--section">
						<a href="/logout" class="app__nav--link">Logout</a>
					</div>
				</nav>
				<% } %>
			</div>
			<div class="container--content">