<% include ../partials/header %>
	<div class="row">
		<div class="col-md-4">
			<h1>
				<%= foundBooking.name %>
			</h1>
			<p><%= foundBooking.id %></p>
			<p>
				<a href="/rooms/<%= foundBooking.id %>/edit">Edit Room</a>
			</p>
			<!-- <form action="/users/<%= user.id %>/rooms/<%= foundBooking.id %>?_method=DELETE" method="POST">
				<button>Delete Room</button>
			</form> -->
			<p id="guestName"></p>
		</div>
		<div class="col-md-8">
			<div class="calendar__container">
				<div class="calendar">
					<div class="calendar__header">
						<button onclick="changeMonth('back')">
							<i class="fas fa-chevron-left"></i>
						</button>
						<h3 id="month" class="month"></h3>
						<button onclick="changeMonth('forward')">
							<i class="fas fa-chevron-right"></i>
						</button>
					</div>
					<div class="calendar__week">
						<div class="weekday">Su</div>
						<div class="weekday">Mo</div>
						<div class="weekday">Tu</div>
						<div class="weekday">We</div>
						<div class="weekday">Th</div>
						<div class="weekday">Fr</div>
						<div class="weekday">Sa</div>
					</div>
					<div id="days" class="calendar__days"> </div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<% include ../partials/footer %>