<% include ../partials/header %>
	<div class="row">
		<div class="col-md-4">
			<h1>
				<%= foundUser.username %>
			</h1>
			<p>API Key:
				<span id="api-key">
					<%= foundUser.apiKey %>
				</span>
			</p>
			<form action="/users/<%= user.id %>/getAPISecret">
				<label>API Secret:</label>
				<%= foundUser.apiSecret %>
			</form>
			<p>
				<form action="/users/<%= user.id %>/getNewKeys">
					<button id="new-keys">Generate New API Keys</button>
				</form>
			</p>
		</div>
		<div class="col-md-8"> </div>
	</div>
	<% include ../partials/footer %>